name: build-main
run-name: build-main
on:
  push:
    branches:
      - main
  schedule:
    # every day at midnight
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/osgeo/gdal    
    permissions:
      contents: write
    name: download and save data
    steps:
      - uses: actions/checkout@v3

      # - uses: actions/setup-python@v4

      # - uses: actions/setup-node@v4

      - run: apt update

      - run: apt install -y nodejs

      - run: apt install -y npm

      # - run: apt install -y python3-pip
      
      # - run: pip install requests

      # - run: python3 run.py

      - run: npm install -g esri-dump

      - run: esri-dump fetch https://mapsdev.hamiltontn.gov/hcwa03/rest/services/Live_Parcels/MapServer/1 > live_parcels.geojson

      - run: ogr2ogr -f parquet live_parcels.parquet live_parcels.geojson

      - run: rm live_parcels.geojson

      - run: git config --global --add safe.directory /__w/live-parcels/live-parcels      

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
