name: build-main
run-name: build-main
on:
  push:
    branches:
      - main
  schedule:
    # every day at midnight
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    # container:
    #   image: ghcr.io/osgeo/gdal    
    permissions:
      contents: write
    name: download and save data
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4

      - run: pip install esridump geopandas pyarrow

      #- run: esri2geojson "https://mapsdev.hamiltontn.gov/hcwa03/rest/services/Live_Parcels/MapServer/1" "./live_parcels.geojson"

      #- run: apt update

      #- run: apt install gdal-bin
      
      # - run: apt update

      # - run: apt install -y git

      # - run: apt install -y nodejs

      # - run: apt install -y npm

      # - run: npm install -g esri-dump

      # - run: esri-dump fetch https://mapsdev.hamiltontn.gov/hcwa03/rest/services/Live_Parcels/MapServer/1 > ./live_parcels.geojson

      #- run: ogr2ogr -f parquet live_parcels.parquet live_parcels.geojson

      #- run: rm live_parcels.geojson

      #- run: ls

      - run: python run.py

      - run: git config --global --add safe.directory $(realpath .)

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v4
